.button {
    height: 65px;
    padding: 0 75px;
    text-transform: uppercase;
    background: none;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    letter-spacing: 0.5px;
    outline: none;

    &:before {
        content: ' ';
        z-index: -1;
        background: #e50040;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
        transition: .15s transform ease-in;
        transform-origin: 0 100%;
    }
    
    &:hover {
        &:before {
            transform: rotate3d(0, 0, 0, 0deg) translate3d(0, 0, 0);
        }
    }
}